VITE_API_URL=https://asia-south1-car-wash-5d9ce.cloudfunctions.net/api
VITE_FIREBASE_API_KEY=AIzaSyDCNoy0nebG4tpaO01bO4pnjot0eqtfWDM
VITE_FIREBASE_AUTH_DOMAIN=car-wash-5d9ce.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=car-wash-5d9ce
VITE_FIREBASE_APP_ID=1:653869969705:web:0da4bd3a19133638bf8738
